@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

/* Global Styles */
* {
    box-sizing: border-box;
    font-family: 'open sans', helvetica, arial;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Headings */
h1 {
    text-align: center;
    margin-top: 2rem;
}

/* Button Container */
.buttons {
    display: flex;
    justify-content: center;
}

/* Buttons */
.btn {
    display: inline-block;
    background: #1fb5bf;
    border: 1px solid #199ea6;
    padding: .5em 2em;
    color: white;
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.btn:hover {
    background: #21c1c9;
}

.btn:active {
    background: #1fb5bf;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/* Form Container */
.form {
    width: 40%;
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
}

@media(max-width: 40em) {
    .form {
        width: 95%;
        position: relative;
        margin: 2.5% auto 0 auto;
        left: 0%;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
    }
}

.form form {
    display: block;
    width: 100%;
    padding: 2em;
}

.form h2 {
    width: 100%;
    color: #4d4d4d;
    font-family: 'open sans condensed';
    font-size: 1.35em;
    display: block;
    background: #2a2a2a;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
    border: 1px solid #242424;
    font-weight: 200;
}

.form input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
}

.form input:focus {
    outline: none;
}

.form .btn {
    display: inline-block;
}

.form .forgot {
    color: #23c9d1;
    line-height: .5em;
    position: relative;
    top: 2.5em;
    text-decoration: none;
    font-size: .75em;
    margin: 0;
    padding: 0;
    float: right;
}

.form .forgot:hover {
    color: #1aa7ad;
}

.notes-container {
    width: 80%;
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
}

.note-form {
    background: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
}

.note-form h2 {
    margin-top: 0;
    color: #2a2a2a;
    font-family: 'open sans condensed';
    text-transform: uppercase;
    font-weight: 200;
}

.note-form input,
.note-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
    padding: .5em;
    border: 1px solid #eaeaea;
    color: #757575;
    font-family: 'open sans', helvetica, arial;
}

.note-form textarea {
    min-height: 120px;
    resize: vertical;
}

.note-form input:focus,
.note-form textarea:focus {
    outline: none;
    border-color: #1fb5bf;
}

.notes-list {
    margin-top: 2rem;
}

.note-item {
    background: #fff;
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
    border: 1px solid black;
}

.note-item h3 {
    margin-top: 0;
    color: #2a2a2a;
    font-family: 'open sans condensed';
    text-transform: uppercase;
    font-weight: 300;
}

.note-item p {
    color: #757575;
    line-height: 1.6;
}

.back-link {
    display: inline-block;
    margin: 1rem 0;
    color: #1fb5bf;
    text-decoration: none;
}

.back-link:hover {
    color: #21c1c9;
}

.dashboard-actions {
    display: flex;
    justify-content: center;
}